
body {
  background-color: rgba(0,0,0,0.9);
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: 100%;
  color: rgba(165, 55, 253,0.47);
  text-shadow: 2px 2px 2px black;
  margin-bottom: 200px;
}

/* ////////////Sticky Nav Bar//////////// */
#header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: sticky;
  top: 0;
  height: 100px;
}
.topOfPageNav {
  text-decoration: none;
  color: white;
  text-shadow: 5px 5px 5px black;
  font-size: 20px;
  padding-top: 20px;
}
.topOfPageNav:hover {
  text-shadow: 1px 1px 1px white;
}
.dropDownFromLinks  {
  padding-top: 20px;
  height: 150px;
  width: 100px;
}
.dropdown-content {
  display: none;
  z-index: 1;
}
.actualLinks {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 18px;
  padding: 15px 10px 0px 0px;
}
.dropdown-content a {
  display: block;
}
.dropdown-content a:hover {
  text-shadow: 1px 1px 1px white;
}
.dropDownFromLinks:hover .dropdown-content {
	display: block;
}
/* ////////////Sticky Nav Bar//////////// */

#top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 120px;
  margin-top: 60px;
}

#about-container {
  width: 40%;
  height: 26em;
  text-align: center;
  padding: 0px 20px 0px 20px;
  border-radius: 3%;
  color: white;
}
h2 {
  font-size: 2.2em;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0 auto;
}
h4 {
  font-size: 1.5em;
}
.about-p {
  font-size: 1.4em;
  padding-top: 40px;
}
.about-list {
  font-size: 1.2em;
  padding: 5px;
}
ul {
  list-style-position: inside;
  margin-top: 30px;
  padding-right: 40px;
}
#pic-container {
  width: 40%;
  height: 26em;
  padding: 30px;
}
.main-pic {
  border-radius: 3%;
  margin: 0% 0% 0% 25%;
  height: 100%;
  width: 20em;
}

#multi-pic-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 150px;
}
.family {
  background-image: url("Family.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20%;
  height: 20em;
  border-radius: 20px;
}
.travel {
  background-image: url("Travel.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20%;
  height: 20em;
  border-radius: 20px;
}

.pet {
  background-image: url("Lyla.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20%;
  height: 20em;
  border-radius: 20px;
}

.music {
  background-image: url("Firefly-5.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20%;
  height: 20em;
  border-radius: 20px;
}
h5 {
  text-align: center;
  color: white;
  padding: 10px;
  margin: 0;
  border-radius: 20px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.2);
}
.hide-and-show-fam {
  display: none;
  padding: 5px 20px 10px 20px;
  font-size: 22px;
  color: white;
  background-color: rgba(0,0,0,0.3);
  border-radius: 20px;
}
.hide-and-show-trav {
  display: none;
  padding: 5px 20px 10px 20px;
  font-size: 22px;
  color: white;
  background-color: rgba(0,0,0,0.3);
  border-radius: 20px;
}
.hide-and-show-pet {
  display: none;
  padding: 5px 20px 10px 20px;
  font-size: 22px;
  color: white;
  background-color: rgba(0,0,0,0.3);
  border-radius: 20px;

}
.hide-and-show-mus {
  display: none;
  padding: 5px 20px 10px 20px;
  font-size: 22px;
  color: white;
  background-color: rgba(0,0,0,0.3);
  border-radius: 20px;
}
.pet-list {
  padding: 0;
  margin-top: 8px;
}
.cat {
  font-size: 15px;
  padding: 2px;
}


/* //////Media query- Half Screen////// */

@media screen and (max-width: 1400px) {
  #top-container {
    margin-bottom: 30px;
    margin-top: 40px;
    height: 100%;
    width: 100%;
  }
  h2 {
    padding-bottom: 0px;
    padding-top: 20px;
  }
  .about-p {
    padding: 0px;
  }
  .main-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #multi-pic-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 40em;
    width: 100%;
    margin-bottom: 300px;
  }
  .family {
    width: 35%;
    height: 50%;
    margin: 5%;
  }
  .travel {
    width: 35%;
    height: 50%;
    margin: 5%;
  }
  .pet {
    width: 35%;
    height: 50%;
    margin: 5%;
  }
  .music {
    width: 35%;
    height: 50%;
    margin: 5%;
  }
}

/* ////////////Media query- IPad////////// */

@media screen and (max-width: 800px) {

  body {
    margin-bottom: 1200px;
  }

  #top-container {
    margin-bottom: 30px;
    margin-top: 20px;
    height: 40%;
    width: 100%;
  }
  #about-container {
    width: 40%;
    padding: 10px 0px 0px 0px;
    margin-bottom: 40px;
  }
  h2 {
    font-size: 2em;
    padding: 20px 0px 15px 0px;
  }
  h4 {
    font-size: 1.4em;
  }
  .about-p {
    font-size: 1.2em;
    padding-top: 20px;
  }
  .about-list {
    font-size: 1em;
    padding: 3px;
  }
  ul {
    margin-top: 10px;
    padding: 0;
  }
  #pic-container {
    width: 40%;
    height: 100%;
    padding: 0px;
    margin-right: 5%;
  }
  .main-pic {
    width: 100%;
    height: 100%;
  }
  .family {
    width: 80%;
    height: 60%;
    margin: 5%;
  }
  .travel {
    width: 80%;
    height: 60%;
    margin: 5%;
  }
  .pet {
    width: 80%;
    height: 60%;
    margin: 5%;
  }
  .music {
    width: 80%;
    height: 60%;
    margin: 5%;
  }

}

/* ///Media Query to fix layout shrinking/// */

@media screen and (max-width: 700px) {

#top-container {
  margin-bottom: 20px;
  margin-top: 0px;
}
#pic-container {
  width: 45%;
  height: 100%;
  padding: 0px;
  margin-right: 5%;
}
.main-pic {
  width: 100%;
  height: 100%;
}

/* ///Media Query to fix layout shrinking/// */

@media screen and (max-width: 600px) {

  #header-container {
    height: 50px;
  }
  .topOfPageNav {
    font-size: 15px;
    padding-left: 8px;
  }
  .dropDownFromLinks  {
    padding-top: 20px;
    width: 4em;
  }
  .actualLinks {
    font-size: 12px;
  }
  .dropdown-content {
    padding-left: 10px;
  }
  #top-container {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  #about-container {
    width: 40%;
    padding: 0px 10px;
  }
  h2 {
    font-size: 1.8em;
    padding: 40px 0px 15px 0px;
  }
  h4 {
    font-size: 1.2em;
    padding: 0px 0px 0px 0px;
  }
  .about-p {
    font-size: 1.1em;
    padding: 30px 0px 10px 0px;
  }
  .about-list {
    font-size: 0.9em;
    padding: 2px;
  }
  ul {
    margin-top: 10px;
    padding: 0;
  }
  #pic-container {
    width: 50%;
    height: 100%;
    padding: 0px;
    margin-right: 5%;
  }
  .main-pic {
    width: 100%;
    height: 100%;
  }


}
 /* ////////////Media query- Mobile////////// */

 @media screen and (max-width: 500px) {

  #about-container {
    width: 80%;
    padding: 0px 10px;
  }
  h2 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.4em;
  }
  .about-p {
    font-size: 1.2em;
  }
  .about-list {
    font-size: 1em;
  }
  ul {
    margin-top: 10px;
  }
  #pic-container {
    width: 65%;
    padding: 0px;
    margin: 0px 0px 4em 0;
  }
}
