
body {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin: 0;
  background-color: rgba(209, 197, 184, 0.19);
  width: 100%;
}

/* ////////////Sticky Nav Bar//////////// */
#header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: sticky;
  top: 0;
  height: 100px;
  padding-top: 20px;
  background-image: url("https://aminulislam333.files.wordpress.com/2013/06/copy-keyboard-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.topOfPageNav {
  text-decoration: none;
  color: white;
  text-shadow: 5px 5px 5px black;
  font-size: 20px;
  padding-top: 20px;
}
.topOfPageNav:hover {
  text-shadow: 1px 1px 1px white;
}
.dropDownFromLinks  {
  padding-top: 20px;
  height: 150px;
  width: 100px;
}
.dropdown-content {
  display: none;
  z-index: 1;
}
.actualLinks {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 18px;
  padding: 15px 10px 0px 0px;
}
.dropdown-content a {
  display: block;
}
.dropdown-content a:hover {
  text-shadow: 1px 1px 1px white;
}
.dropDownFromLinks:hover .dropdown-content {
	display: block;
}
/* ////////////Sticky Nav Bar//////////// */

#main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#left-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
  padding: 0em 1em 0em 1em;
  background-color: rgba(0,0,0,0.9);
  text-shadow: none;
  text-shadow: 5px 5px 5px black;
}
#about-me {
  display: flex;
  flex-direction: column;
  text-align: center;
}
img {
  height: 50%;
  width: 70%;
  margin: 30% 13% 50% 13%;
  border-radius: 100%;
  border: white solid 5px;
}
h2{
  font-size: 2em;
  margin: 0;
}
p {
  font-size: 1.4em;
  padding: 30px 100px 20px 100px;
}

#resume-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40%;
}
h3 {
  font-size: 2em;
}
.list-resume-links {
  padding: 20px 30px 10px 30px;
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.list-resume-links:hover {
  text-shadow: 1px 1px 1px white;
}


#right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 65%;
  padding: 5%;
  color: black;
  text-shadow: none;
}

#name-contact-info {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  margin-left: 5%;
}
#name-contact-info-left {
  text-align: center;
  width: 50%
}
h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
}
h5 {
  font-size: 1.3em;
  margin-top: 15px;
}

#name-contact-info-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  text-align: left;
  margin-left: 5em;
}
h4 {
  font-size: 1em;
  text-align: center;
  padding-left: 3em;
}
.contact-headings {
  list-style-type: none;
  font-size: 0.9em;
}
.contact-info {
  list-style-type: none;
  font-size: 0.9em;
}
hr {
  background-color: black;
  margin: 20px 0px 0px 0px;
  padding: 0.5px;
}
#info-bottom-right {
  margin-left: 5%;
}
.resume-subheadings {
  font-size: 1.9em;
  padding: 70px 0px 10px 0px;
}
.resume-list {
  font-size: 1.3em;
  padding: 5px;
}
.resume-subheading-child {
  font-size: 1.3em;
  padding: 0px;
}
.better-spacing-container {
  margin-top: 60px;
}




/* //////Media query- Half Screen////// */

@media screen and (max-width: 1100px) {

  img {
    height: 60%;
    width: 80%;
    margin: 30% 10% 40% 10%;
    border-radius: 100%;
    border: white solid 5px;
  }
  h2{
    font-size: 1.7em;
    margin: auto;
  }
  p {
    font-size: 1.5em;
    padding: 1.8em 1em 6em 1em;
  }
  h1 {
    font-size: 2.3em;
    margin-bottom: 10px;
  }
  h5 {
    font-size: 1.2em;
    margin-top: 10px;
  }
  #name-contact-info-right {
    width: 60%;
    margin-left: 5em;
  }
  h4 {
    font-size: 0.8em;
    padding-left: 5em;
  }
  .contact-headings {
    font-size: 0.7em;
  }
  .contact-info {
    list-style-type: none;
    font-size: 0.7em;
  }
}


/* /////////Media query-  IPad///////// */

@media screen and (max-width: 800px) {

  #header-container {
    height: 4em;
    padding-top: 5px;
  }
  .topOfPageNav {
    font-size: 16px;
  }
  .dropDownFromLinks  {
    padding-top: 20px;
  }
  .actualLinks {
    font-size: 12px;
  }

  img {
    height: 65%;
    width: 85%;
    margin: 20% 8% 30% 8%;
    border: white solid 4px;
  }
  h2{
    font-size: 1.3em;
  }
  p {
    font-size: 1em;
    padding: 1.8em 1em 6em 1em;
  }
  h3 {
    font-size: 1.5em;
  }
  .list-resume-links {
    font-size: 1em;
  }

  h1 {
    font-size: 1.7em;
    padding-top: 1em;
  }
  h5 {
    font-size: 0.9em;
  }
  #name-contact-info-right {
    margin: 0;
  }
  h4 {
    font-size: 0.8em;
  }

  .contact-headings {
    font-size: 0.7em;
    padding-left: 10px;
  }
  .contact-info {
    list-style-type: none;
    font-size: 0.7em;
    padding-left: 10px;
  }

  .resume-subheadings {
    font-size: 1.3em;
    padding: 40px 0px 10px 0px;
  }
  .resume-list {
    font-size: 0.9em;
    padding: 5px;
  }
  .resume-subheading-child {
    font-size: 0.7em;
  }
  .better-spacing-container {
    margin-top: 20px;
  }
}


/* ////////////Media query- Mobile////////// */

@media screen and (max-width: 480px) {
  #header-container {
    height: 4em;
    padding-top: 5px;
  }
  .topOfPageNav {
    font-size: 15px;
    padding-top: 15px;
    padding-left: 8px;
  }
  .dropDownFromLinks  {
    padding-top: 15px;
    width: 4em;
  }
  .actualLinks {
    font-size: 10px;
  }
  .dropdown-content {
    padding-left: 10px;
  }

  #main-container {
    width: 100%;
    margin: 0;
  }

  #left-container {
    padding: 0.5em;
    width: 40%;
    margin: 0;
  }

  img {
    height: 100%;
    width: 100%;
    margin: 0px;
    margin-top: 3em;
    margin-bottom: 3em;
    border: white solid 3px;
  }
  h2{
    font-size: 0.9em;
  }
  p {
    font-size: 0.7em;
  }

  h3 {
    font-size: 1.4em;
  }
  .list-resume-links {
    font-size: 1em;
    padding: 0.5em;
  }

  hr {
    margin: 0;
    padding: 0;
    width: 90%;
  }
  #right-container {
    padding: 5%;
  }

  #name-contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #name-contact-info-left {
    width: 65%;
  }
  h1 {
    font-size: 2em;
  }
  h5 {
    font-size: 1.2em;
  }

  #name-contact-info-right {
    width: 40%;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  h4 {
    font-size: 0.9em;
    text-align: center;
    padding: 0;
    margin-bottom: 0.5em;
    margin-top: 3em;
  }
  .contact-headings {
    font-size: 0.8em;
    padding-right: 4em;
  }
  .contact-info {
    padding-right: 4em;
    font-size: 0.8em;
  }
  hr {
    background-color: black;
    margin: 20px 0px 0px 0px;
    padding: 0.5px;
  }

  #info-bottom-right {
    padding-right: 1.5em;
  }
  .resume-subheadings {
    font-size: 1.4em;
    padding: 30px 0px 10px 0px;
  }
  .resume-list {
    font-size: 0.9em;
    padding: 5px;
  }
  .resume-subheading-child {
    font-size: 0.8em;
    padding: 0px;
    margin-top: 8px;
  }
  .better-spacing-container {
    margin-top: 10px;
  }
}






/* ///////////Header Pic Graveyard/////////// */


/* keys white
https://aminulislam333.files.wordpress.com/2013/06/copy-keyboard-header.png */
