
body {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin: 0 auto;
  background-color: rgba(209, 197, 184, 0.19);
}

/* ////////////Sticky Nav Bar//////////// */
#header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: sticky;
  top: 0;
  height: 100px;
  padding-top: 20px;
  background-image: url("https://aminulislam333.files.wordpress.com/2013/06/copy-keyboard-header.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.topOfPageNav {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
  padding-top: 20px;
}
.topOfPageNav:hover {
  text-shadow: 1px 1px 1px white;
}
.dropDownFromLinks  {
  padding-top: 20px;
  height: 150px;
  width: 100px;
}
.dropdown-content {
  display: none;
  z-index: 1;
}
.actualLinks {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 18px;
  padding: 15px 10px 0px 0px;
}
.dropdown-content a {
  display: block;
}
.dropdown-content a:hover {
  text-shadow: 1px 1px 1px white;
}
.dropDownFromLinks:hover .dropdown-content {
	display: block;
}
/* ////////////Sticky Nav Bar//////////// */

#main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

#left-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0px;
  background-color: rgba(0,0,0,0.9);
  text-shadow: none;
  padding-bottom: 50px;
}
#about-me {
  display: flex;
  flex-direction: column;
  text-align: center;
}
img {
  height: 28em;
  width: 70%;
  margin: 30% 13% 50% 13%;

  border-radius: 100%;
  border: white solid 5px;
}
h2{
  font-size: 2em;
  margin: 0;
}
p {
  font-size: 1.4em;
  padding: 30px 50px 20px 50px;
}

#resume-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40%;
}
h3 {
  font-size: 2em;
}
.list-resume-links {
  text-decoration: none;
  padding: 20px 30px 0px 30px;
  font-size: 1.5em;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.list-resume-links:hover {
  text-shadow: 1px 1px 1px white;
}


#right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 55%;
  padding: 60px 10px 50px 40px;
  color: black;
  text-shadow: none;
}

#name-contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#name-contact-info-left {
  text-align: center;
  width: 50%
}
h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
}
h5 {
  font-size: 1.3em;
  margin-top: 15px;
}

#name-contact-info-right {
  width: 50%;
  margin: 20px 0px 10px 60px;
}
h4 {
  font-size: 1em;
  text-align: center;
}
.contact-headings {
  list-style-type: none;
  font-size: 0.9em;
  padding-left: 100px;
}
.contact-info {
  list-style-type: none;
  font-size: 0.9em;
  padding-left: 100px;
}
hr {
  /* border-top: 2px solid black; */
  background-color: black;
  margin: 20px 0px 0px 0px;
  padding: 0.5px;
}
#info-bottom-right {
  margin-left: 60px;
}
.resume-subheadings {
  font-size: 1.9em;
  padding: 70px 0px 10px 0px;
}
.resume-list {
  font-size: 1.3em;
  padding: 5px;
}
.resume-subheading-child {
  font-size: 1.3em;
  padding: 0px;
}


/* ///////////Header Pic Graveyard/////////// */


/* keys white
https://aminulislam333.files.wordpress.com/2013/06/copy-keyboard-header.png */
