
body {
  background-image: url("https://www.gorspa.org/wp-content/uploads/Software.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 400px;
}

/* ////////////Sticky Nav Bar//////////// */
#header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: sticky;
  top: 0;
  height: 100px;
}
.topOfPageNav {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
  padding-top: 20px;
}
.topOfPageNav:hover {
  text-shadow: 1px 1px 1px white;
}
.dropDownFromLinks  {
  padding-top: 20px;
  height: 150px;
  width: 100px;
}
.dropdown-content {
  display: none;
  z-index: 1;
}
.actualLinks {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 18px;
  padding: 15px 10px 0px 0px;
}
.dropdown-content a {
  display: block;
}
.dropdown-content a:hover {
  text-shadow: 1px 1px 1px white;
}
.dropDownFromLinks:hover .dropdown-content {
	display: block;
}
/* ////////////Sticky Nav Bar//////////// */

#pic {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.pic {
  height: 300px;
  width: 300px;
  border: 6px solid white;
  border-radius: 100%;
}
#name {
  display: block;
  text-align: center;
  margin-top: 50px;
}
h1 {
  font-size: 35px;
}
h3 {
  font-size: 18px;
}








/* /////////Picture Graveyard///////// */


/* Normal
https://www.gorspa.org/wp-content/uploads/Software.jpg #1 */

/* A little blurry on both
https://media.istockphoto.com/photos/programming-code-abstract-technology-background-of-software-developer-picture-id1224500457?k=20&m=1224500457&s=612x612&w=0&h=LpjdY6okVWiKh8LT_LqcXz53kWaXVf47ThXKwMcCoHI= */

/* Colorful blurry in half screen
https://wallpaperboat.com/wp-content/uploads/2019/10/coding-07.jpg */

/* Blurry on both
https://media.istockphoto.com/photos/programming-code-abstract-technology-background-of-software-developer-picture-id1294521676?b=1&k=20&m=1294521676&s=170667a&w=0&h=7pqhrZcqqbQq43Q0_TD0Y_YjInAyvA9xiht9bto030U= */
