/* Image for the backgound of part 2
https://www.herzing.edu/sites/default/files/styles/fp_960_640/public/2020-09/how-to-become-software-engineer.jpg.webp?itok=3WVOMgAJ */

#screen-1 {
  display: block;
}


#screen-2 {
  display: none;
}
