
body {
  background-color: #08BABA;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 1px 1px grey;
}

/* ////////////Sticky Nav Bar//////////// */
#header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: sticky;
  top: 0;
  height: 100px;
}
.topOfPageNav {
  text-decoration: none;
  color: white;
  text-shadow: 5px 5px 5px black;
  font-size: 20px;
  padding-top: 20px;
}
.topOfPageNav:hover {
  text-shadow: 1px 1px 1px white;
}
.dropDownFromLinks  {
  padding-top: 20px;
  height: 150px;
  width: 100px;
}
.dropdown-content {
  display: none;
  z-index: 1;
}
.actualLinks {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 18px;
  padding: 15px 10px 0px 0px;
}
.dropdown-content a {
  display: block;
}
.dropdown-content a:hover {
  text-shadow: 1px 1px 1px white;
}
.dropDownFromLinks:hover .dropdown-content {
	display: block;
}
/* ////////////Sticky Nav Bar//////////// */




#screen-1 {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: 3em;
}
img {
  height: 12%;
  width: 12%;
}
h1 {
  font-size: 2.2em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 0.8em;
  padding: 20px;
  margin-top: 20px;
}


#changeScreen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30em;
  width: 100%;
  margin-bottom: 30px;
}
#light-bulb {
  display: none;
  background-image: url("https://cdn2.iconfinder.com/data/icons/crystalproject/crystal_project_256x256/apps/ktip.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 20%;
  width: 10%;
}
#light-bulb-placeholder {
  display: flex;
  height: 20%;
  width: 10%;
}
#changeScreen {
    background-image: url("https://static.thenounproject.com/png/94090-200.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 15%;
    margin-bottom: 1em;
}


#screen-2 {
  display: none;
  height: 450px;
  width: 100%;
  margin-bottom: 3em;
  margin-bottom: 1em;
}
#project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 100%;
  width: 30%;
}
.card-image {
  height: 60%;
  width: 60%;
  border-radius: 20px;
}

.project-link {
  padding: 20px;
  font-size: 1.5em;
  color: black;
}
.project-link:hover {
  color: white;
}
p {
  padding: 20px;
  font-size: 1.3em;
  text-align: center;
}


/* //////Media query- Half Screen, IPad////// */

@media screen and (max-width: 1100px) {

  #header-container {
    margin-left: 2em;
  }
  #screen-2 {
    display: none;
    height: 70%;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  #project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 100%;
    width: 70%;
  }
  .card-image {
    height: 60%;
    width: 60%;
    border-radius: 20px;
  }

  .project-link {
    padding: 20px;
    font-size: 1.5em;
    color: black;
  }
  .project-link:hover {
    color: white;
  }
  p {
    padding: 20px;
    font-size: 1.3em;
    text-align: center;
  }


  /* ////////////Media query- To fix button shrinking when page gets smaller////////// */

@media screen and (max-width: 800px) {

  #changeScreen {
    height: 100%;
    width: 25%;
    margin-bottom: 0;
  }
}

  /* ////////////Media query- Mobile////////// */

@media screen and (max-width: 480px) {

  #header-container {
    margin-left: 0.8em;
    height: 60px;
  }
  .topOfPageNav {
    font-size: 15px;
    padding-top: 15px;
    padding-left: 0.8em;
  }
  .dropDownFromLinks  {
    padding-top: 15px;
    width: 4em;
  }
  .actualLinks {
    font-size: 10px;
  }
  .dropdown-content {
    padding-left: 10px;
  }

  #screen-1 {
    margin-top: 1em;
  }
  img {
    height: 20%;
    width: 20%;
  }
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.2em;
  }


  #changeScreen-container {
    height: 20em;
    width: 100%;
    margin-bottom: 0px;
  }
  #changeScreen {
    height: 100%;
    width: 25%;
    margin-bottom: 0;
  }

  #screen-2 {
    height: 70%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .card-container {
    height: 80%;
    width: 70%;
  }
  .project-link {
    padding: 20px;
    font-size: 1.3em;
  }
  p {
    padding: 0px;
    font-size: 1.1em;
  }
